.search {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  max-width: 1200px; }
  .search__content {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    backdrop-filter: blur(2px); }
    @media (min-width: 1px) and (max-width: 749px) {
      .search__content {
        padding: 1rem 0.5rem 1rem 0.5rem; } }
  .search__header-container {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(1, 1fr); }
  .search__header-subcontainer {
    grid-column: 1/1;
    grid-row: 1/1; }
  .search__header-subcontainer-empty {
    grid-column: 2/3;
    grid-row: 1/1; }
  .search__header {
    font-size: 2rem;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    padding: 0.6rem 2rem 0.6rem 2rem;
    backdrop-filter: blur(2px); }

.main-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  @media (min-width: 750px) and (max-width: 1099px) {
    .main-form {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; } }
  @media (min-width: 1px) and (max-width: 749px) {
    .main-form {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; } }
  @media (min-width: 750px) and (max-width: 1099px) {
    .main-form__form-item {
      width: 100%;
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 1px) and (max-width: 749px) {
    .main-form__form-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; } }
  .main-form__input {
    color: #d4006a;
    margin-right: 1rem;
    padding: 0.2rem 0.2rem 0.2rem 0.7rem;
    border: 0px solid #d4006a;
    border-radius: 60px;
    font-weight: 100; }
    @media (min-width: 750px) and (max-width: 1099px) {
      .main-form__input {
        margin-bottom: 1rem;
        margin-left: 1rem; } }
    @media (min-width: 1px) and (max-width: 749px) {
      .main-form__input {
        margin-bottom: 1rem;
        margin-left: 1rem; } }
  .main-form__input:focus {
    outline: #d4006a; }
  @media (min-width: 750px) and (max-width: 1099px) {
    .main-form__btn-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media (min-width: 1px) and (max-width: 749px) {
    .main-form__btn-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; } }
  .main-form__btn {
    border: none;
    font-weight: 800;
    border-radius: 1rem;
    color: white;
    background: #d4006a;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: 0.1s ease-in-out; }
  .main-form__btn:hover {
    border: none;
    font-weight: 800;
    border-radius: 1rem;
    color: white;
    background: #fd007f;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: 0.1s ease-in-out; }
  .main-form__btn:active {
    border: none;
    font-weight: 800;
    border-radius: 1rem;
    color: white;
    background: #d4006a;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transform: scale(0.96);
    transition: 0.1s ease-in-out; }

@media (min-width: 750px) and (max-width: 1099px) {
  .col-md-4, .col-md-6 {
    width: 100%; } }

.modal__header {
  background: #d4006a;
  color: white; }
.modal__heading {
  font-weight: 700; }
  @media (min-width: 750px) and (max-width: 1099px) {
    .modal__heading {
      padding-top: 1rem; } }
  @media (min-width: 1px) and (max-width: 749px) {
    .modal__heading {
      padding-top: 1rem; } }
.modal__name {
  font-weight: 900; }
.modal__content {
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.8); }
.modal__price {
  padding-top: 0.5rem;
  font-weight: 800;
  font-size: 1.4rem;
  font-style: italic; }
.modal__book-btn {
  border: none;
  font-weight: 800;
  border-radius: 1rem;
  color: white;
  background: #d4006a;
  padding: 0.5rem 1rem 0.5rem 1rem; }
.modal__book-btn:hover {
  border: none;
  font-weight: 800;
  border-radius: 1rem;
  color: white;
  background: #fd007f;
  padding: 0.5rem 1rem 0.5rem 1rem; }
.modal__book-btn:active {
  border: none;
  font-weight: 800;
  border-radius: 1rem;
  color: white;
  background: #d4006a;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transform: scale(0.96); }
.modal__information-container {
  margin-top: 1.5rem; }
.modal__text {
  margin-bottom: 0.2rem; }
.modal__text-meal {
  font-weight: 700;
  font-style: italic; }
.modal__map-heading {
  margin-top: 1rem;
  margin-bottom: 0; }
.modal__map-location {
  margin-top: 1rem; }
.modal__location {
  display: flex;
  align-items: flex-end; }
@media (min-width: 750px) and (max-width: 1099px) {
  .modal__row {
    display: block; } }

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem; }
  @media (min-width: 1px) and (max-width: 749px) {
    .confirmation {
      padding: 1rem; } }
  .confirmation__check {
    font-size: 4rem;
    color: green; }
  .confirmation__text span {
    font-weight: 800; }
  .confirmation__button {
    border: none;
    font-weight: 800;
    border-radius: 1rem;
    color: white;
    background: #d4006a;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-transform: uppercase; }
  .confirmation__button:hover {
    border: none;
    font-weight: 800;
    border-radius: 1rem;
    color: white;
    background: #fd007f;
    padding: 0.5rem 1rem 0.5rem 1rem; }
  .confirmation__button:active {
    border: none;
    font-weight: 800;
    border-radius: 1rem;
    color: white;
    background: #d4006a;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transform: scale(0.96); }

.meal-checkbox__price {
  font-size: 1.2rem;
  font-weight: 900; }

#map {
  margin-top: 1rem;
  height: 400px;
  width: 100%;
  background: red; }

.amenities-item p {
  margin: 0rem 0rem 0rem 0.5rem; }

.amenities-item {
  display: flex;
  align-items: center;
  padding: 0.5rem; }

.amenities-item i {
  font-size: 1.5rem; }

.amenities-see-more {
  text-decoration: underline;
  font-weight: 200;
  padding: 0.5rem; }

.img-fluid {
  object-position: center;
  object-fit: cover; }

.carousel__inner {
  height: 280px;
  object-fit: cover;
  object-position: center; }
  @media (min-width: 750px) and (max-width: 1099px) {
    .carousel__inner {
      height: auto; } }
  @media (min-width: 1px) and (max-width: 749px) {
    .carousel__inner {
      height: auto; } }
.carousel__item {
  object-fit: cover;
  object-position: center;
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

a {
  text-decoration: none; }

.html {
  scroll-behavior: smooth;
  font-size: 65.5%; }

.whole-page {
  min-height: 100vh;
  background: url(../img/nz-background.jpg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .whole-page__header {
    color: white;
    font-weight: 800;
    margin: 0; }
  .whole-page__header-container {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background: #d4006a;
    width: 100%;
    z-index: 999; }

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem; }
  .page-container__footer {
    padding-top: 4rem; }
  .page-container__footer img {
    width: 200px; }

.accom-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .accom-container__no-items-message {
    color: white;
    font-size: 1.3rem;
    padding: 2rem;
    font-weight: 300; }

.accom-card {
  flex: 0 0 auto;
  margin: 1rem;
  max-width: 300px;
  min-width: 250px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
  transform: scale(1);
  transition: 0.1s ease-in-out; }
  .accom-card:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out; }
  .accom-card__heading {
    font-size: 1.1rem;
    font-weight: 800;
    margin: 0; }
  .accom-card__img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: 200px;
    width: 300px;
    object-fit: cover; }
  .accom-card__text {
    font-size: 0.8rem;
    margin: 0; }
  .accom-card__info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem; }
  .accom-card__info-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 0.5rem;
    width: 100%; }
  .accom-card__info {
    display: flex;
    align-items: center; }
  .accom-card__location {
    display: flex;
    align-items: center; }
  .accom-card__price-text {
    font-size: 1rem;
    font-weight: 800;
    margin: 0; }
  .accom-card__fas {
    font-size: 1.2rem;
    padding: 0.4rem; }

.accom-card img {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
