@import "var";
@import "mixins";

.search{

    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    max-width: 1200px;


    &__content{
        background: $translucent;
        padding: 2rem;
        border-radius: $border-radius-primary;
        font-size: 1rem;
        font-weight: 700;
        backdrop-filter: blur(2px);
        @media #{$mobile}{
            padding: 1rem 0.5rem 1rem 0.5rem;
        }
    }

    &__header-container{
        display: inline-grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(1, 1fr);
    }

    &__header-subcontainer{
        grid-column: 1/1;
        grid-row: 1/1;
    }

    &__header-subcontainer-empty{
        grid-column: 2/3;
        grid-row: 1/1;
    }
    
    &__header{
        font-size: 2rem;
        font-weight: 700;
        background: $translucent;
        border-radius: $border-radius-primary;
        padding: 0.6rem 2rem 0.6rem 2rem;
        backdrop-filter: blur(2px);
        // padding: 1rem;
        // border-radius: $border-radius-primary;
    }
    
    
}

.main-form{

    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @media #{$tablet}{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    @media #{$mobile}{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__form-item{
        @media #{$tablet}{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        @media #{$mobile}{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
    &__input{
        color: $pink;
        margin-right: 1rem;
        padding: 0.2rem 0.2rem 0.2rem 0.7rem;
        border: 0px solid $pink;
        border-radius: 60px;
        font-weight: 100;   
        @media #{$tablet}{
            margin-bottom: 1rem;
            margin-left: 1rem;
        }
        @media #{$mobile}{
            margin-bottom: 1rem;
            margin-left: 1rem;
        }
        
    }
    &__input:focus{
        outline: $pink;
    }
    &__btn-container{
        @media #{$tablet}{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @media #{$mobile}{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__btn{
        @include pink-btn;
        transition: 0.1s ease-in-out;
    }

    &__btn:hover{
        @include pink-btn-hover;
        transition: 0.1s ease-in-out;
    }

    &__btn:active{
        @include pink-btn-active;
        transition: 0.1s ease-in-out;
    }
}